[defaults]
inventory = inventories/development/hosts.yml
roles_path = roles
retry_files_enabled = false
host_key_checking = false
timeout = 30

[privilege_escalation]
become = true
become_method = sudo

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
